/* CSS Document

1. temp.html
2.add table
3.add page heading
4.add placeholders
5.place & center image
6.navigation bar
7.add text & links
8. add copyright
8b. Fair use
9.last updated statement

*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #e4f2ea;
}

.hnav {
	width: 100%;
	background-color: #11181e;
	min-height: 50px;
	text-align: right;
}

.hnav ul {
	display: block;
	padding-top: .5em;
}

.hnav ul li {
	display: inline-block;
	list-style-type: none;
	width: 10%;
	padding: 0 2%;
}

.hnav a {
	text-decoration: none;
	color: #e4f2ea;
	font-size: 1.7em;
	font-weight: bold;
}

nav a:hover {
	
}

header {
	min-height: 400px;
	background-color: #734f2f;
	background-image: url("../images/appearance_beagle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 20% 20%;
}

h1 {
	
}

h2 {
	
}

blockquote {
	
}

table {
	
}